<form  [formGroup]="blogAddForm" >
    <div class="form-label">
      <input
        type="number"
        formControlName="userId"
        class="form-control"
        placeholder="User ID"
      />
    </div>
    <div class="form-label">
      <input
        type="number"
        formControlName="categoryId"
        class="form-control"
        placeholder="Category ID"
      />
    </div>
    <div class="form-label">
      <input
        type="text"
        formControlName="blogTitle"
        class="form-control"
        placeholder="Blog Title"
      />
    </div>
    <div class="form-label">
      <input
        type="text"
        formControlName="blogContent"
        class="form-control"
        placeholder="Blog Content"
      />
    </div>
    <div class="form-label">
        <input
          type="number"
          formControlName="likedCount"
          class="form-control"
          placeholder="Liked Count"
        />
      </div>
      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        (click)="addBlog()"
      >
        Save Blog
      </button>
  </form>