<!-- MASTHEAD KISMI -->

<div class="row" *ngIf="blogDetail" >
    <div class="col-lg-8 col-md-10 mx-auto ">

     <h1 class="post-content" >{{blogDetail.blogTitle}}</h1>
  
      <h3 class="post-content">{{ blogDetail.blogContent }}</h3> 
  
      <p style="color: grey; text-align: center" class="post-meta">
        <i>Posted by :</i>
        <i
          ><a href="#" style="color: grey; text-decoration: none">{{
            blogDetail.email
          }}</a></i
        >
      </p>
    </div>
  </div>
  