<app-navi></app-navi>
<div> 
<router-outlet></router-outlet>
  <hr/>
</div>
<app-footer></app-footer>

<!-- -
  --post form component,
  --icon ekleme,
  --searchbar düşün
  --admin paneli heakyuz github dashboard paneli
  --delete işlemi id ye çekilsin mi  
--> 

<!--
    yapılacaklar:
    1-:masthead de blog title yazdırılacak.
    2-:masthead de eğer o anda detail component te ise blogun image i gösterilecek yoksa default ımage.
  -->
  
  <!--
    1: child componentleri ayarala
    2:data binding between child and parent
  -->

  <!-- 
    --cannot read properties error on anguılar web server
    --register form password raw check 2 times (form validate)
    --
  -->